.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  .logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo_img {
      width: 250px;
      height: auto;
    }
  }
}