header {

    .pcContainer{
      max-width: 1600px;
      height: auto;
      margin: 0 auto;
      //border-bottom: 1px solid black;
    }

  .header__up{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px;
  }

  .logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .logo_img {
      width: 250px;
      height: auto;
    }
    .logo_txt{
      font-size: 30px;
    }
  }
  .contacts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

}