html, body {
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pc-container {
  max-width: 1600px;
  margin: 0 auto;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
  align-items: center;
}

.main{

  display: flex;
  flex-direction: column;
}